<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">{{blogName}}</a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/" class="navbar-item">Home</a>
                        <a href="/dashboard" class="navbar-item">Dashboard</a>
                    </div>
                    <div class="navbar-end">
                        {{#if isAuthenticated}}
                        <a href="/logout" class="navbar-item">Logout</a>
                        {{else}}
                        <a href="/login" class="navbar-item">Login</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <!-- Footer content goes here -->
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>
